.header{
    position: sticky;
    top: 0px ; 
    background-color:white; 
    z-index: 2;



    .overlay{
        // display: none; 
        display: block; 
        position: fixed; 
        top: 3.75rem ; 
        bottom: 0px; 
        right: 0px; 
        left: 0px;
        // background-color: $darkBlue;
        background-image: linear-gradient(180deg, $darkBlue,transparent);
        
        opacity: 1; 
        
    }







    &.open{
      

        .header__toggle{

        > span{
           
    
            &:first-child{
                transform:translateX(7px) rotate(45deg) translateY( 10px);
            }
            &:nth-child(2){
                opacity:0; 
            }
            &:nth-child(3){
                transform: translateX(7px) rotate(-45deg) translateY( -10px);
            }
            
            }
        }
    
    }








    
nav {
   padding: 1.0625rem 1.5rem; 
}

&__logo{
    
    img{
        
        width: 8.8125rem; 
        height: 1.375rem; 
    }

}

&__toggle{// mobile menu




>span {

    display: block; 
    width: 26px; 
    height: 2px; 
    background-color: $darkBlue;
    &:not(:last-child){
        margin-bottom: 5px; 
    }
    transition: transform 200ms ease-in-out;

  
}


}


&__links{

    
    a{
        position: relative;
        font-size: $font-sm;
        color: $grayishBlue;
        transition: color 300ms ease-in-out;
        
        
        &:not(:last-child){
            margin-right:32px; 
        }

        &::before{
            content: "";
            position:absolute; 
            bottom: -31px; 
            height: 5px;
            right: 0px;
            left: 0px; 
            background: linear-gradient(90deg, $limeGreen , $brightCyan); 
            display: block;
            opacity: 0;
            transition: opacity 300ms ease-in-out;

        }



        &:hover{

            color: $darkBlue;
            &::before{
            opacity: 1; 
            }
            
            

            


          

        }
    
    }
    
    
}

&__cta{

    font-size: $font-sm;
    color: white; 
    transition: opacity 300ms ease-in-out;

    &:hover{
        opacity: 0.75; 
        
    }
}


&__menu{




    border: 1px solid black; 
    background-color: $veryLightGray;
    border-radius: 5px; 
    position: absolute; 
    width: calc(100% - 3rem);
    left: 50%; 
    transform: translateX(-50%);
    margin-top: 1.5rem; 
    a{  
        display: block;
        padding: 1rem;
        text-align: center;
        font-size: $font-med;
        color: $grayishBlue;
        transition: color 300ms ease-in-out;
        &:hover{

            color: $darkBlue;
            &::before{
            opacity: 1; 
            }
        }
    }

}







}

