



header{
    box-shadow:( 0 0 1rem $darkBlue);
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    background-color: $darkBlue; 
    color: white;
    height: 5rem; 
   
        .appTitle{
            color:inherit; 
            font-size: $fontSizeHomePage; 
            font-weight: $fontWeightMedium; 
        }
        .mode{
            color:inherit; 
            font-size: $fontSizeHomePage; 
            font-weight: $fontWeightSmall; 
           
            .moon{
                
                cursor: pointer; 
                top: .1rem; 
                width: .8rem; 
                height: .8rem; 
                margin-right: .4rem; 
                background-image: url(images/crescent-moon-svgrepo-com.svg);
                background-size:cover;
                background-repeat: no-repeat;
                // filter:invert(180); 
                display: inline-flex; 
                position: relative; 
          

            }
        }
}



section.hero{

    // background-color:$veryDarkBlue; 
    padding-top: 1.5rem; 
    padding-bottom: 2rem;
    color: white; 
    button{
        font-size: $fontSizeDetailPage;
        font-weight: $fontWeightSmall;
        border: none; 
        padding: .4rem 1.5rem;  
        display: flex; 
        align-items: center;
        margin-top: .5rem; 
        margin-bottom: .5rem;
        color: inherit; 
        border-radius: 2px; 
        box-shadow: 0 0 5px rgb(29, 29, 29);
        .arrow{
            filter:invert(180); 
            width: 1rem; 
            height: 1rem; 
            margin-right: .5rem; 
            background-image: url(images/left-arrow-svgrepo-com.svg);
            background-size: cover; 
            background-repeat: no-repeat;
        }
    }

    .searchBar{
        width: 100%; 
        display: flex; 
        // background-color:$darkBlue;
        border-radius: 5px;
        overflow: hidden;
        margin-bottom: 2.5rem; 
        // box-shadow:( 0 0 1rem $darkBlue);
        .magnifyGlass{
            width: 4.5rem; 
            display: flex; 
            justify-content: center;
            align-items:center; 
            text-align: center;

            img{
                width: 1rem; 
                max-height: 1rem; 
                // filter: invert(180);
            }
         
           

        }
        .search{
            border: none; 
            width: 65%; 
            color:inherit;
            background-color: inherit; 
            margin-top: 1rem; 
            margin-bottom: 1rem;
            outline: none; 
            
            
            &:active{
                outline: none; 

            } 
            

        }

    }

    .searchMenu{
        display: none; 
        width: 100%; 
        position: relative; 
        bottom: 2rem; 
        border-radius: 5px;

        .searchMenuItem{
            padding-top: 1rem; 
            padding-bottom: 1rem; 
            padding-left: 1.5rem; 
            &:hover{
                border-top: 1px solid black; 
                border-bottom: 1px solid black;

            }

        }



    }

    .filterBar{

        width: 60%; 
        display: flex; 
        // background-color:$darkBlue;
        border-radius: 5px;
        overflow: hidden;
        align-items: center; 
        justify-content: space-between;
        // box-shadow:( 0 0 1rem $darkBlue);
        margin-bottom: .5rem; 

        .filter{
            padding-top: 1rem;
            padding-bottom: 1rem; 
            padding-left: 1.75rem; 
            color: inherit; 
            font-size: $fontSizeHomePage;

        }
        .dropDown{
            margin-right: 1rem; 
            // filter:invert(180);
            img{
                position: relative; 
                top:.25rem; 
            }


        }
   
    }


     .filterMenu{
           
            width: 55%; 
            display: flex; 
            flex-direction: column; 
            // background-color:$darkBlue;
            border-radius: 5px;
            overflow: hidden;
            // align-items: center; 
            justify-content: center;
            // box-shadow:( 0 0 1rem $darkBlue);
            padding: .5rem 0rem; 
            position: absolute; 
            z-index:5; 
            display:none; 

            .filterRegion{
                padding-left: 1.75rem; 
                padding-top: .5rem; 
                padding-bottom: .5rem; 
                
                &:hover {
                    
                    border-top : 1px solid $darkBlue;
                    border-bottom: 1px solid $veryDarkBlue; 
                    
                    border-top: 1px solid black; 
                    border-bottom: 1px solid black;
                    // transition: border 500ms ease-in-out; 
                }
                



            }


        }

}
section.flags{


    // background-color: $veryDarkBlue; 
    display:flex; 
    flex-direction: column; 
    align-items: center; 
    position: relative; 
    // bottom: 11rem; 
    z-index:1; 


    .card{
        width: 16.5rem; 
        border-radius: 5px; 
        overflow: hidden; 
        margin-bottom: 2.5rem; 
        color: white; 
        // box-shadow:( 0 0 1rem $darkBlue);
        .flag{
            height: 10rem; 
            // background-image: url(images/1200px-Flag_of_Germany.svg.png);
            background-size:cover; 
            


        }
        .info{
            // background-color: $darkBlue;
            height: 11rem; 
            // color: inherit;
            padding-left: 1.75rem; 
            font-size:$fontSizeHomePage; 
            font-weight:$fontWeightMedium;
            

            
            .country{
                padding-top: 1.75rem; 
                padding-bottom: .75rem; 
                font-size: 1.25rem; 
                font-weight:$fontWeightLarge; 
            }
          
            span{
                font-weight: $fontWeightSmall;
            }

        }


    }

}


.flags-other{
    color: white; 
    

    .card-other{


        .flag-other{
            height: 14.5rem; 
            background-image: url(images/1200px-Flag_of_Germany.svg.png);
            background-size: cover;
            margin-bottom: 3rem; 












        }
        .info-other{
            
                .country{
                    margin-bottom: 1.8rem; 
                }
                p{
                    font-weight: $fontWeightMedium;
                    margin-bottom: .25rem; 
                    span{
                        font-weight: $fontWeightSmall;
                    }
                }
                .p-capital{

                    margin-bottom: 3rem; 
                }
                .p-languages{
                    margin-bottom: 3rem; 
                    
                }
                .border-countries-heading{
                   
                    font-size: 1.1rem;
                    margin-bottom: 1.375rem; 
                        
                }
                .border-countries{
                    display:flex; 
                    justify-content: space-evenly;
                    flex-wrap: wrap;
                    padding-bottom: 3.875rem;  
                    
                
                    .border-country{
                        border-radius: 2px; 
                        color: inherit; 
                        border: none; 
                        font-size: .75rem; 
                        width: 6rem; 
                        padding-top: .4rem; 
                        padding-bottom: .5rem; 
                        // margin-right: 1.375rem;
                        box-shadow: 0 0 5px rgb(29, 29, 29);
                    }

                }





        }









    }




}