$darkBlue: hsl(209, 23%, 22%);
$veryDarkBlue: hsl(207, 26%, 17%);
$veryDarkBlueLightMode: hsl(200, 15%, 8%);
$darkGray: hsl(0, 0%, 52%);
$veryLightGrayLightMode: hsla(0, 0%, 89%, 0.925);
$white: hsl(0, 0%, 100%);


$fontSizeHomePage: .875rem; 
$fontSizeDetailPage: 1rem; 

$fontWeightSmall:300;
$fontWeightMedium:600;
$fontWeightLarge:800;